<h2>Latest Movies</h2>

<ngx-loading
  [show]="loading"
  [config]="{
    backdropBorderRadius: '3px',
    fullScreenBackdrop: true,
    primaryColour: '#ffffff',
    backdropBackgroundColour: 'rgba(0,0,0,0.6)'
  }">
</ngx-loading>


<div *ngFor="let movie of movies" class="card">

  <img [src]="movie.imageUrl" width="120">

  <div>
    <h3>{{movie.title}}</h3>
    <p>Year: {{movie.year}}</p>
    <p>Director: {{movie.director}}</p>

  <a [routerLink]="['/details', movie.id]">
  View Details
</a>
  </div>

</div>
